.footer {
  background-color: white;
  color: black;
  padding: 20px;;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-content {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 100px;
  max-width: 2500px;
  margin-left: 20px;
  padding: 20px;

}

.footer-section {
  display: flex;
  flex-direction: column;
  background-color: #0a0a3f;
  padding: 10px;

  
}

.footer-section h2 {
  font-size: 18px;
  margin-bottom: 15px;
  color: rgb(228, 228, 228);
  border-bottom: 2px solid #f1f2f4;
  padding-bottom: 5px;
}

.footer-section p,
.footer-section li {
  font-size: 14px;
  line-height: 1.6;
  color:white;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section li {
  margin-bottom: 8px;
}

.link {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link:hover {
  color:aqua;
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  color:white;
  background-color: #0a0a3f;
  padding:20px;
}
